@import '../../../../../styles/variables';

.UserBadge {
  display: flex;
  align-items: center;
  justify-content: center;

  &__Image {
    height: 32px;
    border-radius: 50%;
  }

  &__Name {
    margin-left: 10px;
    font-weight: 600;
    @media (max-width: $xs) {
      display: none;
    }
  }
}
