@import 'variables';

* {
  box-sizing: border-box;
}
body {
  font-family: 'Soleil', sans-serif;
  font-size: 14px;
  min-height: 100%;
  background-color: $background-color;
  color: map_get($text-color, 'normal');
}

a {
  text-decoration: none;
}

.container {
 padding: $gutter * 2;
  @media (max-width: $xs) {
    padding: $gutter;
  }
}
